---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <div class="flex flex-col items-center justify-center h-full text-center p-4">
        <h1 class="text-2xl font-bold mb-2">Page not found</h1>
        <p>
            The page you are looking for does not exist. Is this unexpected? If so
            <a class="text-[#b7a5ec]" href="https://vantage.sh/slack" target="_blank">please let us know.</a>
        </p>
    </div>
</MainLayout>
